main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {

    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-1);
    overflow-x: hidden;
}

form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: none;
    width: 100%;
    padding: 20px;
    margin-top: 30vh;
    gap: 20px;
    border-radius: 5px;
    border-bottom: 5px solid var(--bg-1);
    background-color: var(--bg-2);
    outline: 2px solid var(--bg-3);
}

.buttons-row {

    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
}

footer {

    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%; 
    color: var(--bg-3);
    background-color: var(--bg-1);
}

footer a {
    text-decoration: none;
    color: var(--green-1);
}