body {

    display: flex;
    justify-content: center;
    margin-top: 30vh;
    background-color: var(--main-color);
}

form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    background-color: var(--secondary-color);
    border-right: 10px solid var(--darker-1);
    border-bottom: 10px solid var(--darker-2);
    outline: 2px solid var(--darker-3);
}

.buttons-row {

    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
}

.button {

    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 0;
    padding: 5px;
    width: 100%;
    background-color: var(--secondary-color);
    outline: 2px solid var(--darker-3);
    border: 0;

    color: white;
}

.button:active {
    background-color: var(--darker-3);
}

.button[type="submit"]{

    color: black !important;
    background-color: var(--green-1);
}

.button[type="submit"]:active {
    background-color: var(--green-2);
}

textarea {

    background-color: var(--darker-1);
    padding: 5px;
    color: white;
    border: 0;
    max-width: 600px;
    min-width: 600px;
    outline: 2px solid var(--darker-3);
}

textarea:focus {

    outline: 2px solid var(--green-1);
}

textarea[disabled=""]{
    background-color: var(--darker-3);
}

.input-header {
    display: flex;
    color: white;
    gap: 5px;
}